{
  "presets": ["env", "react"],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  
  "env": {
    "test": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "babel-plugin-webpack-alias"
      ]
    }
  }
}
